/* Base styles for center and nav */
.center {
    height: 70px;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}

nav {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 25px;
    font-size: 1.2em;
    margin-bottom: 40px;
    padding-left: 15px;
    padding-top: 25px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

body.light {
    background-color: white;
    color: black;
}

body.light .center {
    background-color: rgb(220, 220, 220);
}

body.light nav a {
    color: black;
}

body.dark {
    background-color: #121212;
    color: white;
}

body.dark .center {
    background-color: rgb(80, 80, 80);
}

body.dark nav a {
    color: rgb(219, 219, 219);
}
