.center {
    background-color: rgb(25, 207, 34);
    height: 70px;
}

nav {
    display: flex;
    justify-content: left;
    gap: 20px;
    font-size: 1.2em;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-top: 10px;
}

a {
    text-decoration: none;
}
