.kaynti-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 20px auto;
    text-align: left;
}

.kaynti-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
    text-align: center;
}

.kaynti-details {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
}

.kaynti-details p {
    margin-bottom: 10px;
}

.kaynti-details strong {
    color: #000;
}

.kaynti-details ul {
    margin-left: 20px;
    list-style-type: disc;
    color: #555;
}

.kaynti-details ul li {
    margin-bottom: 8px;
}

.kaynti-container p {
    font-size: 16px;
    color: #333;
    margin: 10px 0;
}
